@import "tailwindcss";

@font-face {
    font-family: "BoehringerForwardTextRegular";
    src: url("../font/BI-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BoehringerForwardTextItalic";
    src: url("../font/Boehringer Forward.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.submit {
    background-color: #00E47C;
    color: #08312A;
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
    font-size: 18px;
    /* width: 148px;
    height: 60px; */
    text-align: center;
    /* width: auto; */
}

/* Default (mobile first) */
h1 {
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
}

.sub-bi-heading {
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 42px;
}

.sub-bi-heading2 {
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 42px;
}

.bi-heading {
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 42px;
}

.sub-bi-paragraph {
    font-family: "BoehringerForwardTextItalic", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

@media (min-width: 768px) {
    .sub-bi-heading2 {
        font-size: 16px;
    }
}

/* Large screens (desktop) */
@media (min-width: 1080px) {
    .sub-bi-heading {
        font-size: 16px;
    }
    
    .sub-bi-heading2 {
        font-size: 18px;
    }
    
    .bi-heading {
        font-size: 26px;
    }

    .sub-bi-paragraph {
        font-size: 30px;
    }
}

/* Add this to your CSS */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    /* Hides default calendar icon */
}

/* .custom-date {
    position: relative;
}

.custom-date input[type="date"] {
    position: relative;
    padding-right: 40px;
}

.custom-date::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('/calendar-icon.svg') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    filter: invert(30%) sepia(90%) saturate(300%) hue-rotate(180deg);
} */