@import "tailwindcss";

@font-face {
    font-family: "BoehringerForwardTextRegular";
    src: url("../font/BI-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BoehringerForwardTextItalic";
    src: url("../font/Boehringer Forward.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.submit {
    background-color: #00E47C;
    color: #08312A;
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 148px;
    height: 60px;
    text-align: center;
    width: auto;
}

/* Default (mobile first) */
h1 {
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
}

.sub-bi-heading {
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 42px;
}

.sub-bi-heading2 {
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 42px;
}

.bi-heading {
    font-family: "BoehringerForwardTextRegular", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 42px;
}

.sub-bi-paragraph {
    font-family: "BoehringerForwardTextItalic", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

@media (min-width: 768px) {
    .sub-bi-heading2 {
        font-size: 16px;
    }
}

/* Large screens (desktop) */
@media (min-width: 1080px) {
    .sub-bi-heading {
        font-size: 16px;
    }
    
    .sub-bi-heading2 {
        font-size: 18px;
    }
    
    .bi-heading {
        font-size: 26px;
    }

    .sub-bi-paragraph {
        font-size: 30px;
    }
}
